@import "../../app/styles/abstract/variables";

.aboutContainer {
  min-height: 100vh;
  background-color: $color-background-light;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  min-height: 90vh;
  margin: 0 auto;
}

.aboutleftPartContent {
  font-size: $font-size-h2-mobile;
  font-weight: $font-weight-semibold;
  color: $color-text-body;
  line-height: $line-height-heading;
  margin: 0;
  font-family: $font-family-primary;
}

.aboutImageContainer {
  position: relative;
  width: 100%;
  height: 375px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutImage {
  object-fit: cover !important;
  max-width: 500px;
  position: static !important;
  border-radius: 5px;
}

.aboutRightPartContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutRightText {
  font-size: $font-size-body-mobile;
  color: $color-text-body;
  line-height: 1.5;
  margin: 0;
}

.aboutBtn {
  background-color: transparent;
  border: none;
  color: $color-text-body;
  font-size: $font-size-body-mobile;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 1px solid $color-text-body;
  font-family: $font-family-secondary;
  margin-top: 15px;

  &:hover {
    background-color: darken($color-text-headline, 10%);
  }
}

// Tablet
@media (min-width: 768px) {
  .aboutContainer {
    padding: 1.5rem;
  }

  .aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 90vh;
  }

  .aboutleftPartContainer {
    text-align: left;
    position: relative;
    height: 190px;
  }

  .aboutleftPartContent {
    font-size: $font-size-h2-tab;
    width: 80%;
    position: relative;
    top: 100%;
  }

  .aboutImageContainer {
    height: auto;
  }

  .aboutRightPartContainer {
    text-align: right;
    position: relative;
    height: 375px;
  }
  .aboutRightPartSubContainer {
    position: relative;
    bottom: 35%;
  }
  .aboutRightText {
    font-size: $font-size-body-tab;
  }

  .aboutBtn {
    font-size: $font-size-body-tab;
  }
}

// Desktop
@media (min-width: 1200px) {
  .aboutContainer {
    padding: 3rem 2rem;
  }

  .aboutContent {
    max-width: 1200px;
    gap: 2rem;
    min-height: 90vh;
    grid-template-columns: 1fr auto 1fr;
  }

  .aboutleftPartContent {
    font-size: $font-size-h2-desktop;
    top: 65%;
  }

  .aboutImageContainer {
    min-height: auto;
  }

  .aboutRightText {
    font-size: $font-size-body-desktop;
  }

  .aboutBtn {
    font-size: $font-size-body-desktop;
  }
  .aboutRightPartContainer {
    height: 430px;
  }
  .aboutleftPartContainer {
    height: 180px;
  }
}
