@import "../../app/styles/abstract/variables";

.userBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: $color-background-light;
    gap: 20px;
    .innerUserBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        @media(min-width: 360px){
            gap: 10px;
        }
    }
    .userBarButtonLogout{
        background-color: #d51717;
        border: none;
        font-family: $font-family-primary;
        padding: 5px 10px;
        color: $color-text-white;
        border-radius: 3px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: #b31212;
            transition: all 0.3s ease;
        }
        @media(min-width: 414px){
            padding: 10px 20px;
        }
        @media(min-width: 360px){
            padding: 5px 10px;
        }
    }
    .userBarButtonSave{
        background-color: $color-background-dark;
        border: none;
        font-family: $font-family-primary;
        padding: 5px 10px;
        color: $color-text-white;
        border-radius: 3px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: #424141;
            transition: all 0.3s ease;
        }
        @media(min-width: 414px){
            padding: 10px 20px;
        }
        @media(min-width: 360px){
            padding: 5px 10px;
        }
    }
    .userBarButtonSee{
        background-color: #646464;
        border: none;
        font-family: $font-family-primary;
        padding: 5px 10px;
        color: $color-text-white;
        border-radius: 3px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: #424141;
            transition: all 0.3s ease;
        }
        @media(min-width: 414px){
            padding: 10px 20px;
        }
        @media(min-width: 360px){
            padding: 5px 10px;
        }
    }
    .userBarButtonAnalytics{
        background-color: #0d6efd;
        border: none;
        font-family: $font-family-primary;
        padding: 5px 10px;
        color: $color-text-white;
        border-radius: 3px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        &:hover{
            background-color: #0b5ed7;
            color: $color-text-white;
            transition: all 0.3s ease;
        }
        @media(min-width: 414px){
            padding: 10px 20px;
        }
        @media(min-width: 360px){
            padding: 5px 10px;
        }
    }
    .userBarButtonIcon{
        font-size: 1.2rem;
    }
    .userBarText{
        font-size: 1rem;
        font-weight: 600;
        color: #000;
        font-family: $font-family-primary;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    .userBarLogout{
        background-color: transparent;
        border: none;
        font-family: $font-family-secondary;
    }
}
.userBarText {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 8px;
  
    .hoverText {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      position: absolute;
      right: 0px;
      top: 60px;
      width: 120px;
      transform: translateY(-50%);
      text-align: center;
      background-color: $color-background-light;
      padding: 10px;
      border-radius: 5px;
      font-weight: bold;
      color: rgb(33 142 73);
    }
  
    .icon:hover + .hoverText {
      opacity: 1;
    }
  }
  