@import "../../app/styles/abstract/variables";

.userBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    z-index: 1000;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    background-color: $color-background-light;
    gap: 20px;
    .innerUserBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .userBarButtonLogout{
        background-color: #d51717;
        border: none;
        font-family: $font-family-primary;
        padding: 5px 10px;
        color: $color-text-white;
        border-radius: 3px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: #b31212;
            transition: all 0.3s ease;
        }
        @media(min-width: 368px){
            padding: 10px 20px;
        }
    }
    .userBarButtonSave{
        background-color: $color-background-dark;
        border: none;
        font-family: $font-family-primary;
        padding: 5px 10px;
        color: $color-text-white;
        border-radius: 3px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: #424141;
            transition: all 0.3s ease;
        }
        @media(min-width: 368px){
            padding: 10px 20px;
        }
    }
    .userBarButtonSee{
        background-color: #646464;
        border: none;
        font-family: $font-family-primary;
        padding: 5px 10px;
        color: $color-text-white;
        border-radius: 3px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: #424141;
            transition: all 0.3s ease;
        }
        @media(min-width: 368px){
            padding: 10px 20px;
        }
    }
    .userBarButtonIcon{
        font-size: 1.2rem;
    }
    .userBarText{
        font-size: 1.4rem;
        font-weight: 600;
        color: #000;
        font-family: $font-family-primary;
    }
    .userBarLogout{
        background-color: transparent;
        border: none;
        font-family: $font-family-secondary;
    }
}
