@import "../../app/styles/abstract/variables";

@keyframes appear {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@keyframes appearMobileNav {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappearMobileNav {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: transparent;
  font-family: $font-family-primary;
  color: $color-text-white;
}
.closing {
  animation: disappearMobileNav 0.3s ease-in-out forwards;
}
.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
}
.mobileBackground{
  animation: appear 0.3s ease-in-out forwards;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
}

.logo {
  font-size: $font-size-h2-mobile;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1em;
  color: $color-text-white;
}

.navLinks {
  display: none;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
  }
  @media (min-width: 917px) {
    gap: 2rem;
  }
}
.leftContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.langSwitch {
  display: none;
  font-size: $font-size-body-mobile;
  font-family: $font-family-primary;
  font-weight: $font-weight-semibold;
  color: $color-text-white;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  @media (min-width: 768px) {
    display: block;
  }

  &:hover {
    color: $color-text-secondary;
  }
  &:focus {
    color: $color-text-white;
  }
}

.navLink {
  font-size: $font-size-body-mobile;
  color: $color-text-white;
  font-weight: $font-weight-regular;
  text-decoration: none;

  &:hover {
    color: $color-text-secondary;
  }
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contactBtnMobile {
  display: block;
  font-size: $font-size-body-mobile;
  font-weight: $font-weight-semibold;
  color: $color-text-white;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $color-text-secondary;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.burgerBtn {
  display: block;
  background: none;
  border: none;
  color: $color-text-white;
  transition: opacity 0.3s ease;
  &:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(27, 31, 35, 1)!important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  z-index: 999;
  animation: appearMobileNav 0.3s ease-in-out forwards;
}

.closeBtn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  color: $color-text-body;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease;
  &:hover{
    cursor: pointer;
    color: #a9b0b8;
    transition: opacity 0.3s ease;
  }
}
.mobileNavLink {
  font-size: $font-size-body-mobile;
  font-weight: $font-weight-regular;
  color: $color-text-white;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid $color-text-body;
  padding-bottom: 0.5rem;

  &:hover {
    color: $color-text-secondary;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-background-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  z-index: 999;
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  height: 100vh;
  a {
    color: $color-text-body;
    font-size: $font-size-h2-mobile;
    font-family: $font-family-primary;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $color-text-secondary;
    }
  }
}

.mobileBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginLinkNotNav {
  background: none;
  border: none;
  display: none;
  .loginLink{
    text-decoration: none;
    color: $color-text-white;
    font-size: $font-size-body-mobile;
    font-family: $font-family-primary;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: $color-text-secondary;
    }
    &:focus {
      color: $color-text-white;
    }
  }
  @media (min-width: 917px) {
    display: block;
  }
}
.loginBtn {
  color: $color-text-white;
  font-size: $font-size-body-mobile;
  font-family: $font-family-primary;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $color-text-secondary;
  }
}

.langBtnMobile {
  background: none;
  border: none;
  color: $color-text-body;
  font-size: $font-size-body-mobile;
  font-family: $font-family-primary;
  font-weight: $font-weight-semibold;
  cursor: pointer;

  &:hover {
    color: $color-text-secondary;
  }
}
