@import "../../app/styles/abstract/variables";

.numbersSection {
  background-color: $color-background-dark;
  padding: 1rem;
  position: relative;
  & .cards {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1.5rem;
    position: relative;
    min-height: 90vh;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      flex-wrap: wrap;
      padding: 1.5rem;
      text-align: left;
      gap: 0;
      position: relative;
    }

    @media (min-width: 1200px) {
      padding: 3rem 2rem;
    }
  }
}
