@use "../../app/styles/abstract/variables" as *;

.numbersSection {
  background-color: $color-background-dark;
  padding: 1rem;
  position: relative;
  min-height: 800px;
  & .cards {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1.5rem;
    position: relative;
    min-height: 90vh;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      flex-wrap: wrap;
      padding: 1.5rem;
      text-align: left;
      gap: 0;
      position: relative;
    }

    @media (min-width: 1200px) {
      padding: 3rem 2rem;
    }
  }
}

.editableCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem;
}
.editableInput,
.editableTextarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.editableTextarea {
  min-height: 80px;
  resize: vertical;
}