// Colors
$color-text-body: #5f6b77;
$color-text-secondary: #a9b0b8;
$color-text-headline: #2f343b;
$color-text-white: #fff;
$color-background-light: #dde3e9;
$color-background-dark: #1b1f23;

// Fonts
$font-family-primary: "Space Grotesk", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, sans-serif;
$font-family-secondary: "Epilogue", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, sans-serif;
$font-family-text: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, sans-serif;

$font-size-base: 16px;
$font-size-h1-mobile: 3.5rem;
$font-size-h2-mobile: 1.5rem;
$font-size-body-mobile: 1.1rem;

$font-size-h1-tab: 4rem;
$font-size-h2-tab: 2rem;
$font-size-body-tab: 1.3rem;

$font-size-h1-desktop: 7rem;
$font-size-h2-desktop: 2.5rem;
$font-size-body-desktop: 1.4rem;

$font-size-h1-big-desktop: 7rem;
$font-size-h2-big-desktop: 2.5rem;
$font-size-body-big-desktop: 1.4rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-base: 1;
$line-height-heading: 1.2;
